.checkbox-wrapper-40 {
	--borderColor: #72d364;
	--borderWidth: 0.125em;
}

.checkbox-wrapper-40 label {
	display: block;
	max-width: 100%;
}

.checkbox-wrapper-40 input[type='checkbox'] {
	-webkit-appearance: none;
	appearance: none;
	vertical-align: middle;
	background: #23242a;
	font-size: 1.8em;
	border-radius: 0.125em;
	display: inline-block;
	width: 1em;
	height: 1em;
	position: relative;
}
.checkbox-wrapper-40 input[type='checkbox']:before,
.checkbox-wrapper-40 input[type='checkbox']:after {
	content: '';
	position: absolute;
	background: var(--borderColor);
	width: calc(var(--borderWidth) * 3);
	height: var(--borderWidth);
	top: 50%;
	left: 10%;
	transform-origin: left center;
}
.checkbox-wrapper-40 input[type='checkbox']:before {
	transform: rotate(45deg)
		translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2))
		scaleX(0);
	transition: transform 80ms ease-in 80ms;
}
.checkbox-wrapper-40 input[type='checkbox']:after {
	width: calc(var(--borderWidth) * 5);
	transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
	transform-origin: left center;
	transition: transform 80ms ease-in;
}
.checkbox-wrapper-40 input[type='checkbox']:checked:before {
	transform: rotate(45deg)
		translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2))
		scaleX(1);
	transition: transform 80ms ease-in;
}
.checkbox-wrapper-40 input[type='checkbox']:checked:after {
	width: calc(var(--borderWidth) * 5);
	transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
	transition: transform 80ms ease-out 80ms;
}
.checkbox-wrapper-40 input[type='checkbox']:focus {
	outline: calc(var(--borderWidth) / 2) dotted rgba(0, 0, 0, 0.25);
}
