@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #18181b;
	font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
	width: 8px;
	height: 5px;
	background: #000000;
}

body::-webkit-scrollbar-thumb {
	width: 100px;
	background: #d3bb64;
	/* border-radius: 50px; */
}

.max-height {
	height: calc(100% - 90px);
}

@layer components {
	.tree-view ul:first-child {
		@apply rounded-lg !p-3;
	}
}
